/* IMPORTS */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

/* RESETS */

* {
  box-sizing: border-box;
}

html,
body,
p {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html {
  height: 100vh;
}

body {
  height: 100%;
}

/* --------------------------- */

/* LAYOUT */

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.task {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  row-gap: 0.5rem;
  align-items: center;
  padding: 2vh 0;
}

.date {
  grid-column: 2 / -1;
}
/* -----------------------------------------*/

/* POSITIONING ELEMENTS */

header,
form,
footer {
  text-align: center;
}

form {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}
.task-wrapper {
  margin: 0 auto;
  width: 100%;
  min-height: 80vh;
  max-width: 500px;
  padding: 4vw 0 20vh;
}

.task {
  margin-bottom: 3vh;
}
.edit {
  text-align: center;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  padding: 3rem;
}
footer a {
  display: inline-block;
  margin: 2rem;
}

/* --------------------*/

/* STYLING ELEMENTS */

body {
  background-color: rgb(243, 227, 198);
}
header {
  padding: 3vh;
}

h1 {
  color: #91684d;
}
input,
button {
  margin: 1.5vh;
  padding: 2vh;
  border: none;
  height: 6vh;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bolder;
}

button {
  background-color: rgb(255, 255, 255);
  outline: 2px solid white;
  box-shadow: 2px 2px 2px grey, inset 2px 2px 2px white;
}

.task {
  padding: 2vh 3vh 1vh;
  background-color: #fff;
  border-radius: 10px;
}
.date {
  font-size: 0.8rem;
  color: burlywood;
}
a {
  font-weight: bold;
  text-decoration: none;
  color: #91684d;
}
.checkbox {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.incomplete .checkbox {
  border: 3px solid rgb(172, 172, 172);
}
.completed .checkbox {
  background-color: #91684d;
  border: 2px solid #91684d;
}

footer {
  height: 20vh;
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 48%,
    rgba(255, 255, 255, 1) 54%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 48%,
    rgba(255, 255, 255, 1) 54%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 48%,
    rgba(255, 255, 255, 1) 54%
  );
}

/* HIDE DELETE */

.delete {
  display: none;
}
